<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sammy1997">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".androidcsdcourse.service.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".androidcsdcourse.MenuActivity" >
        </activity>
        <activity android:name=".androidcsdcourse.ConstraintActivity" />
        <!-- Intent filter -->
        <activity android:name=".androidcsdcourse.NextActivity" />
        <activity

            android:name=".androidcsdcourse.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>